<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Detail 2 - Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/detail6.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="preview">
				<div class="inner">
					<div class="content">
						<h1>Radius</h1>
						<h2>A fully responsive masonry style portfolio template.</h2>
					</div>
					<a href="/" class="button hidden"><span>Let's Go</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="preview" class="vertical">
				<div class="inner">
					<div class="image fit">
						<img src="static/imag/im6.jpg" alt="" style="height:900px"/>
					</div>
					<div class="content">
						<header>
							<h2>거리의 부랑자, 빈티지를 입다.</h2>
						</header>
						<p>스트릿 빈티지 감성을 충만시키는 브라운 레이어드 룩은 같은 계열의 악세서리와 팬츠를 만나 더욱 멋스럽게 완성되었다. 핑크 컬러의 이너와 매치는 단색이 줄 수 있는 단조로운 느낌을 보완하여 독특한 조화를 이루어 내며 보는 이들의 시선을 즐겁게한다. 손에 가볍게 든 화이트 클러치와 버버리 백은 빈티지한 감성에 고급스러움을 더한다. Lookus 가 소개하는 여섯 번째 룩의 키워드는 '고급스러운 빈티지' 이다.</p>
						<p> - DOOBUCK -</p>
					</div>
				</div>
				<a href="/detail6" class="nav previous"><span class="fa fa-chevron-left"></span></a>
				<a href="/detail8" class="nav next"><span class="fa fa-chevron-right"></span></a>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
                                <li>
								Top<br>
									<a style="text-decoration: none;" href= "https://trunkshow.co.kr/goods/view?no=6585">트렌치 코트</a> , <a style="text-decoration: none;" href = "https://londonboutique.co.kr/mall/view/goodsNo/49399/sortName/totalHit/sort/ASC/categoryNo/1101/pageNo/51">실크 셔츠</a><hr>
                                </li>
								<li>
								Bottom<br>
									<a style="text-decoration: none;" href="http://adererror.com/product/kustic-trousers-beige/3799/">베이지 트라우저</a><hr>
							    </li>
							    <li>
								Shoe<br>
									<a style="text-decoration: none;" href = "https://store.musinsa.com/app/product/detail/1005665/0?wh=detail&loc=syte&p_goods_no=972996">M2K 테크노 SP</a><hr>
							    </li>
					</div>
					<div class="copyright">
						<h3>USE AI PERSONAL COORDINATOR</h3>
						<p>AI COORDINATOR 는 당신이 찾고자 하는 스타일의 옷을 AI 알고리즘을 통하여 SEARCH 합니다. 옷의 이미지를 입력 해주세요.</p>
						<div align="center">
						<form action="http://192.168.12.21:5000/fileUpload" method="POST" enctype="multipart/form-data">
							<input type="file" name="file"/><br>
							<input type="submit"/>
						</form>
						</div>
						@ Design by: GOZNUK @ Team ByTones presented.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>