<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Detail 2 - Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/detail6.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="preview">
				<div class="inner">
					<div class="content">
						<h1>Radius</h1>
						<h2>A fully responsive masonry style portfolio template.</h2>
					</div>
					<a href="/" class="button hidden"><span>Let's Go</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="preview" class="vertical">
				<div class="inner">
					<div class="image fit">
						<img src="static/imag/im8.jpg" alt="" style="height:900px"/>
					</div>
					<div class="content">
						<header>
							<h2>시크한 아테네의 가을</h2>
						</header>
						<p>시크한 무드 연출을 위한 래더 아이템으로 도시적인 느낌을 강조한다. 더하여, 은은한 광택을 뽐내는 루즈한 핏의 가죽 자켓으로 쿨한 멋을 살려냈다. 같은 색상의 블랙 스커트와 레트로한 느낌의 브라운 레더 백의 매치는, 다가오는 가을에 걸맞는 시크한 무드를 연출한다. Lookus 가 소개하는 다섯 번째 룩의 키워드는 '가을을 맞이하는 시크함' 이다.</p>
						<p> - DOOBUCK -</p>
					</div>
				</div>
				<a href="/detail5" class="nav previous"><span class="fa fa-chevron-left"></span></a>
				<a href="/detail7" class="nav next"><span class="fa fa-chevron-right"></span></a>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
                                <li>
								Top<br>
									<a style="text-decoration: none;" href= "https://www.wconcept.co.kr/Product/300756932?gclid=EAIaIQobChMIv8uNqtDQ6gIVyVBgCh30iAESEAkYAyABEgKf0fD_BwE">블랙 레더 자켓</a><hr>
                                </li>
								<li>
								Bottom<br>
									<a style="text-decoration: none;" href="https://www.wconcept.co.kr/Product/300756467?gclid=EAIaIQobChMIsazzx9DQ6gIVRmoqCh1ZZQDjEAkYBCABEgJF8PD_BwE">플레어 스커트</a><hr>
							    </li>
							    <li>
								Shoe<br>
									<a style="text-decoration: none;" href = "http://shoes-opening.com/product/%EB%B0%B0%EC%83%89-%EB%B2%A8%ED%8A%B8%EC%8A%A4%ED%8A%B8%EB%9E%A9-%EB%82%AE%EC%9D%80%EA%B5%BD-%EC%8B%AC%ED%94%8C-%EC%83%8C%EB%93%A4/3754/">벨트스트랩 샌들</a><hr>
							    </li>
					</div>
					<div class="copyright">
						<h3>USE AI PERSONAL COORDINATOR</h3>
						<p>AI COORDINATOR 는 당신이 찾고자 하는 스타일의 옷을 AI 알고리즘을 통하여 SEARCH 합니다. 옷의 이미지를 입력 해주세요.</p>
						<div align="center">
						<form action="http://192.168.12.21:5000/fileUpload" method="POST" enctype="multipart/form-data">
							<input type="file" name="file"/><br>
							<input type="submit"/>
						</form>
						</div>
						@ Design by: GOZNUK @ Team ByTones presented.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>