<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Detail 2 - Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/detail6.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="preview">
				<div class="inner">
					<div class="content">
						<h1>Radius</h1>
						<h2>A fully responsive masonry style portfolio template.</h2>
					</div>
					<a href="/" class="button hidden"><span>Let's Go</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="preview" class="vertical">
				<div class="inner">
					<div class="image fit">
						<img src="static/imag/im12.jpg" alt="" style="height:900px"/>
					</div>
					<div class="content">
						<header>
							<h2>틀을 벗어 던지는 룰 브레이커, 개척자의 한 걸음.</h2>
						</header>
						<p>정장은 회사에서, 교복은 학교에서. 본디 옷은 자신을 치장하는 것이 아닌 특정한 공간에 자신을 맞추기 위하여 입는 기능을 하기도 한다. 하지만 이러한 옷의 순기능의 틀을 깨는 코디 또한 패션이 되기도 한다. 활발한 활동을 위한 기능에 초점을 맞춘듯한 상, 하의와 등산화는 이제 일상을 함께하는 캐쥬얼 룩으로써 새롭게 태어났다. Lookus 가 소개하는 마지막 룩의 키워드는 '도전' 이다.</p>
						<p> - GOZNUK -</p>
					</div>
				</div>
				<a href="/detail16" class="nav previous"><span class="fa fa-chevron-left"></span></a>
				<a href="/detail2" class="nav next"><span class="fa fa-chevron-right"></span></a>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
                                <li>
								Top<br>
									<a href= "http://item.gmarket.co.kr/DetailView/Item.asp?goodscode=1780493585&GoodsSale=Y&jaehuid=200001169&NaPm=ct%3Dkbvlryxs%7Cci%3Dc2a22155e90bf4f8bb37f780a568aa1c8ec458ac%7Ctr%3Dslct%7Csn%3D24%7Chk%3D55ab58c5c0136cd424b79f5b853624ebdd244a89" style="text-decoration: none;">그레이 코튼 원피스</a>,<a style="text-decoration: none;" href="https://smartstore.naver.com/nordictrend/products/4907477334?NaPm=ct%3Dkbvlzvns%7Cci%3D0zi0001jmdjsoDyKHLkC%7Ctr%3Dpla%7Chk%3D89da6de1b0c20d31c8a842289f54f8baff25be13"> 올리브 하프 야상</a><hr>
                                </li>
								<li>
								Shoe<br>
									<a style="text-decoration: none;" href="http://item.gmarket.co.kr/DetailView/Item.asp?goodscode=1424292697&GoodsSale=Y&jaehuid=200001169&NaPm=ct%3Dkbvm21lc%7Cci%3D03f9d818d1e501810ef653905d1b9a52f9e69d28%7Ctr%3Dslct%7Csn%3D24%7Chk%3D7b918db35318aafc6617583484912c3a660f60fb">블랙 앵클 부츠</a><hr>
							    </li>
							    <li>
								Accessory<br>
									<a style="text-decoration: none;" href = "https://front.wemakeprice.com/product/364352292?utm_source=naver_ep&utm_medium=PRICE_af&utm_campaign=null&NaPm=ct%3Dkbvm3z1c%7Cci%3D4a73b8c1c5205263d484aee97278183af00f479c%7Ctr%3Dslsl%7Csn%3D197023%7Chk%3D057db72fe17d039806312224333e7c0aa3480ac4">블랙 비니</a>,<a style="text-decoration: none;" href = "https://search.shopping.naver.com/detail/lite.nhn?nvMid=20827565222&query=%EC%97%90%EC%BD%94%EB%B0%B1&NaPm=ct%3Dkbvm4scw%7Cci%3D6f63f094e91fa9e6e71ec33488ca7832fe677b6c%7Ctr%3Dslsl%7Csn%3D95694%7Chk%3D825b0cd219eadf91fd5532e2ae436f74ca5171bf"> 에코백</a><hr>
							    </li>
					</div>
					<div class="copyright">
						<h3>USE AI PERSONAL COORDINATOR</h3>
						<p>AI COORDINATOR 는 당신이 찾고자 하는 스타일의 옷을 AI 알고리즘을 통하여 SEARCH 합니다. 옷의 이미지를 입력 해주세요.</p>
						<div align="center">
						<form action="http://192.168.12.21:5000/fileUpload" method="POST" enctype="multipart/form-data">
							<input type="file" name="file"/><br>
							<input type="submit"/>
						</form>
						</div>
						@ Design by: GOZNUK @ Team ByTones presented.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>