<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Detail 2 - Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/detail6.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="preview">
				<div class="inner">
					<div class="content">
						<h1>Radius</h1>
						<h2>A fully responsive masonry style portfolio template.</h2>
					</div>
					<a href="/" class="button hidden"><span>Let's Go</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="preview" class="vertical">
				<div class="inner">
					<div class="image fit">
						<img src="static/imag/im3.jpg" alt="" style="height:900px"/>
					</div>
					<div class="content">
						<header>
							<h2>일상을 휘어잡는 네온의 색감.</h2>
						</header>
						<p>후드 티와 카고 팬츠, 하얀색 운동화는 흔히 볼 수 있는 평범함이지만, 시선을 사로잡는 네온의 화려한 색감은 일상에 융화되기를 거부하는 과감함을 표현한다. 2020년 스트릿 패션의 키워드 중 하나인 네온은 그 과감함만으로 주목 받기 충분한 색상이다. 형광색의 후드는 트렌디한 감각을 자극하며 색을 마주하는 군중들로 하여금 신선한 충격을 불러 일으킨다. Lookus 가 소개하는 세 번째 룩의 키워드는 '네온' 이다.</p>
						<p> - GOZNUK -</p>
					</div>
				</div>
				<a href="/detail3" class="nav previous"><span class="fa fa-chevron-left"></span></a>
				<a href="/detail5" class="nav next"><span class="fa fa-chevron-right"></span></a>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
                                <li>
								Top<br>
									<a style="text-decoration: none;" href= "https://www.lotteon.com/p/product/LE1203075944?mall_no=2&sitmNo=LE1203075944_1216094106&ch_no=100535&ch_dtl_no=1002846&gclid=EAIaIQobChMIrauR1s_Q6gIVB1dgCh1waAC7EAkYECABEgKcjvD_BwE"> 기모 후드 티셔츠 네온옐로우</a><hr>
                                </li>
								<li>
								Bottom<br>
									<a style="text-decoration: none;" href="https://www.styleshare.kr/goods/281267?gclid=EAIaIQobChMIx9zJwc_Q6gIVmE5gCh2RYwOOEAkYAyABEgItcvD_BwE">라벨 로고 카고 팬츠</a><hr>
							    </li>
							    <li>
								Shoe<br>
									<a style="text-decoration: none;" href = "https://front.wemakeprice.com/product/927663585?utm_source=google_ss&utm_medium=cpc&utm_campaign=r_sa&gclid=EAIaIQobChMI5r2B8c_Q6gIVSlRgCh36WgipEAkYDyABEgJrP_D_BwE">나이키 에어포스1 로우 집업 스우시 화이트</a><hr>
							    </li>
					</div>
					<div class="copyright">
						<h3>USE AI PERSONAL COORDINATOR</h3>
						<p>AI COORDINATOR 는 당신이 찾고자 하는 스타일의 옷을 AI 알고리즘을 통하여 SEARCH 합니다. 옷의 이미지를 입력 해주세요.</p>
						<div align="center">
						<form action="http://192.168.12.21:5000/fileUpload" method="POST" enctype="multipart/form-data">
							<input type="file" name="file"/><br>
							<input type="submit"/>
						</form>
						</div>
						@ Design by: GOZNUK @ Team ByTones presented.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>