<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Detail 2 - Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/detail6.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="preview">
				<div class="inner">
					<div class="content">
						<h1>Radius</h1>
						<h2>A fully responsive masonry style portfolio template.</h2>
					</div>
					<a href="/" class="button hidden"><span>Let's Go</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="preview" class="vertical">
				<div class="inner">
					<div class="image fit">
						<img src="static/imag/im2.jpg" alt=""/>
					</div>
					<div class="content">
						<header>
							<h2>어바웃 타임, 시간에 관하여.</h2>
						</header>
						<p>The perfect man. 패션에 살아온 세월이 더해지면 누구도 함부로 평가할 수 없다. 스타일은 쌓이고 쌓여서 탑처럼 견고해지는 것이다. 젊은이의 감각으로 고른 옷을 입은 그에게서 20대들의 그것 과는 사뭇 다른 묘한 기운이 느껴진다. 무심한 듯 툭 걸친 야상자켓과 한 손에 쥐어진 시가렛, 전체적으로 차분한 톤으로 스타일링한 그의 패션은 다른 사람들의 귀감이 되기 충분하다. Lookus 가 소개하는 네 번째 룩의 키워드는 '중후함' 이다.</p>
						<p> - EDITOR JIN -</p>
					</div>
				</div>
				<a href="/detail4" class="nav previous"><span class="fa fa-chevron-left"></span></a>
				<a href="/detail6" class="nav next"><span class="fa fa-chevron-right"></span></a>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
                                <li>
								Top<br>
									<a style="text-decoration: none;" href= "https://www.wizwid.com/CSW/handler/wizwid/kr/MallProduct-Start?AssortID=706065341&utm_source=google_shopping&utm_medium=sa&utm_campaign=pc_sales&utm_content=keyword_search&utm_term=google_shopping_pc&adfrom=google_shopping_pc&gclid=EAIaIQobChMI1I_3mcjQ6gIVSQVgCh3FhQ03EAkYGyABEgLGyfD_BwE">그린 트렌치 코트</a> , <a style="text-decoration: none;" href= "https://www.wizwid.com/CSW/handler/wizwid/kr/MallProduct-Start?AssortID=705412667&utm_source=google_shopping&utm_medium=sa&utm_campaign=pc_sales&utm_content=keyword_search&utm_term=google_shopping_pc&adfrom=google_shopping_pc&gclid=EAIaIQobChMImOL6m8fQ6gIVl3ZgCh3UGAdCEAkYASABEgLBqvD_BwE">터틀넥 니트</a><hr>
                                </li>
								<li>
								Bottom<br>
									<a style="text-decoration: none;" href="https://www.fabianafilippi.com/ab_en/silk-trousers-deep-green.html">딥 그린 실크 트라우저</a><hr>
							    </li>
							    <li>
								Shoe<br>
									<a style="text-decoration: none;" href = "http://display.cjmall.com/p/item/51757480?gclid=EAIaIQobChMI2uKZxcnQ6gIVCHZgCh07xwAcEAQYDiABEgJsYvD_BwE">컨버스 슈즈</a><hr>
							    </li>
					</div>
					<div class="copyright">
						<h3>USE AI PERSONAL COORDINATOR</h3>
						<p>AI COORDINATOR 는 당신이 찾고자 하는 스타일의 옷을 AI 알고리즘을 통하여 SEARCH 합니다. 옷의 이미지를 입력 해주세요.</p>
						<div align="center">
						<form action="http://192.168.12.21:5000/fileUpload" method="POST" enctype="multipart/form-data">
							<input type="file" name="file"/><br>
							<input type="submit"/>
						</form>
						</div>
						@ Design by: GOZNUK @ Team ByTones presented.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>