<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Detail 2 - Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/detail6.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="preview">
				<div class="inner">
					<div class="content">
						<h1>Radius</h1>
						<h2>A fully responsive masonry style portfolio template.</h2>
					</div>
					<a href="/" class="button hidden"><span>Let's Go</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="preview" class="vertical">
				<div class="inner">
					<div class="image fit">
						<img src="static/imag/im1.jpg" alt="" style="height:900px"/>
					</div>
					<div class="content">
						<header>
							<h2>티파니에서 아침을. - 아메카지 룩</h2>
						</header>
						<p>누구에게나 오래 기억되는 영화의 첫 장면이 있다. 영화의 첫 장면이 아마 이렇게 시작되지 않을까? 'Moon River' 영화의 ost 가 흘러나오고, 바게트 빵을 사들고, 자전거를 타고 집으로 돌아가는 거리. 세로 스트라이프의 노란색 점프슈트에 엉클 부츠, 하늘색 블라우스를 매치한 그녀의 패션은 통통 튀는 그녀의 매력을 한껏 살려준다. 자신감 충만한 그녀의 걸음걸이마저, 그녀의 패션이 된듯 하다. Lookus 가 소개하는 첫 번째 룩의 키워드는 '아메카지' 이다.</p>
						<p> - EDITOR JIN -</p>
					</div>
				</div>
				<a href="/" class="nav previous"><span class="fa fa-chevron-left"></span></a>
				<a href="/detail3" class="nav next"><span class="fa fa-chevron-right"></span></a>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
                                <li>
								Top<br>
									<a href= "https://www.cichic.com/yellow-striped-condole-belt-zipper-fashion-short-jumpsuit.html" style="text-decoration: none;">스트라이프 점프슈트</a>,<a style="text-decoration: none;" href="https://www.endclothing.com/us/comme-des-garcons-shirt-forever-classic-poplin-shirt-cdgs2pla-6.html"> 클래식 셔츠</a><hr>
                                </li>
								<li>
								Shoe<br>
									<a style="text-decoration: none;" href="https://www.dior.com/ko_kr/products/couture-KDI601CFM_S900-d-trap-%EC%95%B5%ED%81%B4-%EB%B6%80">D-TRAP 앵클 부츠</a><hr>
							    </li>
							    <li>
								Accessory<br>
									<a style="text-decoration: none;" href = "https://www.dior.com/en_us/products/couture-S5475ZRIW_M974-mini-dior-book-tote-burgundy-dior-oblique-embroidery">미니 토트백</a><hr>
							    </li>
					</div>
					<div class="copyright">
						<h3>USE AI PERSONAL COORDINATOR</h3>
						<p>AI COORDINATOR 는 당신이 찾고자 하는 스타일의 옷을 AI 알고리즘을 통하여 SEARCH 합니다. 옷의 이미지를 입력 해주세요.</p>
						<div align="center">
						<form action="http://192.168.12.21:5000/fileUpload" method="POST" enctype="multipart/form-data">
							<input type="file" name="file"/><br>
							<input type="submit"/>
						</form>
						</div>
						@ Design by: GOZNUK @ Team ByTones presented.
						<a href="/intro">Who is in Bytones?</a>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>