<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/style2.css">
<title>LOOKUS</title>
</head>
<body href="processing">
<div id="container">
  

  <h2>ERROR : 입력과 유사한 옷이 DB 에 존재하지 않습니다.</h2>
  <ul class="icons">
  <a href="/" class="icon style2 fa-home">GO TO HOME</a>
  </ul>
</div>

            <script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
</body>
</html>