<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Lookus - AI Coordinator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/acce5.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<div class="content">
						<h1>Lookus</h1>

						<h2>Personal Coordinator just fit on you<br/>
						with AI algorithm</h2>


						<button href="#" class="button big alt"><span>Let's Fit</span></button>
					</div>
				</div>
			</header>

		<!-- Main -->
			<div id="main">
				<div class="inner">
					<div class="columns">

						<!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
							<div class="image fit">
								<a href="detail2"><img src="static/imag/im1.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail3"><img src="static/imag/pic02.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail4"><img src="static/imag/im3.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail5"><img src="static/imag/im2.jpg" alt="" /></a>
							</div>

						<!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="detail6"><img src="static/imag/im8.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail7"><img src="static/imag/im6.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail8"><img src="static/imag/pic08.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail9"><img src="static/imag/im13.jpg" alt="" /></a>
							</div>

						<!-- Column 3 (horizontal, vertical, horizontal, vertcal) -->
							<div class="image fit">
								<a href="detail10"><img src="static/imag/pic19.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail11"><img src="static/imag/pic20.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail12"><img src="static/imag/im9.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail13"><img src="static/imag/im7.jpg" alt="" /></a>
							</div>

						<!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="detail14"><img src="static/imag/im14.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail15"><img src="static/imag/im10.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail16"><img src="static/imag/im11.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail17"><img src="static/imag/im12.jpg" alt="" /></a>
							</div>

					</div>
				</div>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
						<h3>LookUs' Special Look Edtions</h3>
						<p>LookUs 의 제작자들이 선정한 각기 다른 16 개의 테마를 주제로 선정한 룩을 경험해보세요. 룩의 이미지를 클릭하면 테마와 상세 설명을 조회할 수 있습니다.</p>
					</div>
					<div class="copyright">
						<h3>USE AI PERSONAL COORDINATOR</h3>
						<p>AI COORDINATOR 는 당신이 찾고자 하는 스타일의 옷을 AI 알고리즘을 통하여 SEARCH 합니다. 옷의 이미지를 입력 해주세요.</p>
						<div align="center">
						<form action="http://192.168.12.21:5000/fileUpload" method="POST" enctype="multipart/form-data">
							<input type="file" name="file"/><br>
							<input type="submit"/>
						</form>
						</div>
						@ Design by: GOZNUK @ Team ByTones presented.<a href="/intro"> Who is in ByTones?</a>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>