<!DOCTYPE HTML>
<!--
	Snapshot by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Snapshot by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/int03.css" />
	</head>
	<body>
		<div class="page-wrap">

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/" class="active"><span class="icon fa-home"></span></a></li>
					</ul>
				</nav>
                <div class = "bgi">
                </div>
			<!-- Main -->
				<section id="main">
					<!-- Banner -->
				   
						<section id="banner" class="bg-img">
							<div class="inner">
								<h1>We are ByTones</h1>
								<br>
								<br>
								<ul class="actions">
									<li><a href="#galleries" class="button alt scrolly big">ByTones</a></li>
								</ul>
							</div>
						</section>
                    
					<!-- Gallery -->
						<section id="galleries">

							<!-- Photo Galleries -->
								<div class="gallery">
									<header class="special">
										<h2>Team ByTones</h2>
									</header>
									<div class="content">
										<div class="media">
											<a href="static/imag/pic27.jpg"><img src="static/imag/pic27.jpg" alt="" title="패션은 마장동 육회. 있는 그대로를 즐겨야 한다. - GOZNUK -" /></a>
										</div>
										<div class="media">
											<a href="static/imag/quoka.jpg"><img src="static/imag/quoka.jpg" alt="" title="패션은 계절. 항상 변하지만, 다시 돌아온다. - QUOKKA KIM -" /></a>
										</div>
										<div class="media">
											<a href="static/imag/pic27.jpg"><img src="static/imag/pic27.jpg" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="static/imag/pic27.jpg"><img src="static/imag/pic27.jpg" alt="" title="This right here is a caption." /></a>
										</div>
									</div>
								</div>
						</section>

					<!-- Contact -->

					<!-- Footer -->
						<footer id="footer">
							<div class="copyright">
								&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
							</div>
						</footer>
				</section>
		</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min3.js"></script>
			<script src="static/js/jquery.poptrox.min3.js"></script>
			<script src="static/js/jquery.scrolly.min3.js"></script>
			<script src="static/js/skel.min3.js"></script>
			<script src="static/js/util3.js"></script>
			<script src="static/js/main3.js"></script>

	</body>
</html>