<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/style2.css">
<meta http-equiv="refresh" content="5; url=http://192.168.12.21:5000/result">
<title>LOOKUS</title>
</head>
<body href="processing">
<div id="container">
  <div class="stick"></div>
  <div class="stick"></div>
  <div class="stick"></div>
  <div class="stick"></div>
  <div class="stick"></div>
  <div class="stick"></div>

  <h2>PROCESSING...</h2>

</div>

            <script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
</body>
</html>